.description {
	padding-top: 310px;
	margin-bottom: 200px;

	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		column-gap: 60px;

		padding: 0 40px;
	}
	&__title {
		max-width: 700px;

		h3 {
			margin-bottom: 50px;

			font-size: 80px;
			line-height: 1.1;
			font-weight: 500;
			color: #ffff;

			span {
				color: #137da7;
			}
		}
		p {
			font-weight: 300;
			font-size: 30px;
			line-height: 125.5%;
			/* or 38px */

			color: #a5a5a5;
		}
	}
	&__card {
		flex-shrink: 0;
		padding: 36px 47px 33px;

		background: rgba(217, 217, 217, 0.09);
		border-radius: 28px;
		text-align: center;
	}
	&__card-title {
		margin-top: 45px;
		margin-bottom: 38px;

		font-size: 35px;
		color: #ffffff;
		text-shadow: 0px 0px 466.408px #ffffff, 0px 0px 266.519px #ffffff,
			0px 0px 155.469px #ffffff, 0px 0px 77.7347px #ffffff,
			0px 0px 22.2099px #ffffff, 0px 0px 11.105px #ffffff;
	}
	&__card-price {
		img {
			vertical-align: sub;
			margin-right: 18px;
		}

		span {
			font-size: 40px;
			color: #ffffff;
			font-weight: 400;
		}
	}
	&__bottom {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 100px;
		position: relative;
		
		img {
			z-index: 9;
		}

		&::before {
			content: "";
			position: absolute;
			top: 40%;
			left: -10%;
			transform: matrix(0.69, -0.73, 0.69, 0.73, 0, 0);
			background: #ffffff91;
			box-shadow: 0px 0px 122px 151px #ffffff85;
			border-radius: 50%;
		}



		&-desc {
			padding-top: 200px;
			max-width: 870px;
			p {
				font-weight: 300;
				font-size: 30px;
				line-height: 36px;

				background: linear-gradient(
					90.29deg,
					rgba(255, 255, 255, 0.64) -57.63%,
					rgba(255, 255, 255, 0) 95.95%
				);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
	}
}




@media (max-width:1350px) {
	.description {
		padding-top: 100px;

		&__card {
			width: 350px;
			padding: 28px;
		}
		&__card-title {
			margin: 20px 0;
		}
		&__card-price {
			span {
				font-size: 24px;
			}
			img {
				width: 12px;
			}
		}

		&__title {
			p {
				font-size: 24px;
			}
		}
	}


	
}


@media (max-width:1230px) {
	.description__bottom  {
		img {
			width: 370px;
		}
		.description__bottom-desc {
			p {
				font-size: 22px;
				line-height: 1.2;
			}
		}

	}
}

@media (max-width:1030px) {
	.description__bottom  {
		img {
			width: 330px;
		}
		.description__bottom-desc {
			padding-top: 100px;
			p {
				font-size: 18px;
			}
		}

	}
}

@media (max-width:970px) {
	.description {
		padding-top: 100px;

	
		&__title {
			h3 {
				font-size: 65px;
				margin-bottom: 20px;
			}
			p {
				font-size: 20px;
			}
		}
	}
}


@media (max-width:864px) {
	.description {
		margin-bottom: 80px;

		&__content {
			flex-direction: column;
			row-gap: 60px;
		}
		&__title {
			text-align: center;
		}

	}
}

@media (max-width:764px) {
	.description {
		&__bottom  {
			flex-direction: column;
		}
	}
}
